html, body {
  height: 100%;
  margin: 0;
}

.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  text-align: center;   
  height: 0vh;          
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.quiz-home{
  margin-bottom: 20px;
  margin-top: 0px;
}

.quiz-link{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.2s;
}

.quiz-link:hover{
  background-color: #0056b3;
}

.beta-label {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  
}

.volume-label,
.volume-input {
  margin-left: 10px;
}

.volume-label {
  margin-top: 5px;
}

.volume-input {
  cursor: pointer;
}